<!DOCTYPE html>
<html lang="en" class="cover">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HKingPalindrome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navigation">
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark link" asp-area="" asp-controller="Home" asp-action="Palindrome">Palindrome</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer">
        <div class="container" style="padding-right: 95%">
            &copy; 2022 - HKingPalindrome - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    .navigation {
        background-color: darkkhaki !important;
        padding-left: 47%;
    }

    .link {
        border: solid;
        border-color: beige;
        color: beige;
    }

        .link:hover {
            border-color: black;
            background-color: gray;
            font-weight: 600;
            box-shadow: 1px 1px gray, 2px 2px gray, 3px 3px gray;
            transform: translateX(-3px);
            -webkit-transform: translateX(-3px);
        }

    #footer {
        color: black !important;
        background-color: gray !important;
    }
</style>
